h1
{
        text-transform: uppercase;
}
#cv
{
    width:900px;
  //  margin: 0 auto;
   margin-left: auto;
   margin-right: auto;
}
#profile {
    padding:  25px;
    background: black;
    color:#a5a5a5;
}

#intro
{
    display: flex;
    align-items:center;
}

#about {
    display: flex;
}
#intro img {
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-right:25px;
}

#intro header {
    text-transform:uppercase;
    margin-right: 25px;
}
#intro header h1 {
    text-transform: uppercase;
    color:#ffffff;
}

#intro header h3 {
 color: orange;
    text-transform: uppercase;
}
#intro header h2 {
    color: #ffffff;
    text-transform: uppercase;
}


#contact-info {
    display: flex;
}

#contact-info ul {
    list-style: none;
}

#contact-info ul:first-child {
    font-weight: bold;
}

article{
    margin:15px;
}

#bio {
    border-left: 2px solid white;
}

#social-networks{
    border-top: 2px solid white;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-top: 15px;
}

#social-networks li a{
    color:white;
    text-decoration: none;
}

#intro article{
 border-top: 2px solid white;
    color:white;
    text-decoration: none;
}


#row
{
    display: flex;
}

#experience {
    background-color: white;
     /*display: flex;*/
   
}
section#experience h1 {
    margin-top: 10px;
    padding-left: 10px;
}
ul#subjects li h3 {
    color:skyblue;
}
#squeres
{
   display: flex;
    flex-direction: column;
   
}
#experience #title-experience
{
    display: flex;

}
/*#experience h1
{
    display: flex;

}
#experience #right-side
{
    flex-direction: row;
}
*/

#experience #subjects {
    list-style: none; 
width: 80%;
}
#experience #detailes {
    list-style: none; 
}

#experience #detailes li{
   /*padding-bottom: 15px;*/ 
}

#proSkills #subjectsPro{
    list-style: none;
    padding-left: 10px;
}
#proSkills #progressBarPro{
    list-style: none;

}

 #proSkills
{
    height:260px;
    width: 300px;
    background-color: aqua;
   /* display: flex;*/
    list-style: none; 
}

section#preSkills h1{
    padding-left:10px;
}

section#proSkills h1{
    padding-left:10px;
}
section#proSkillsInfo
{
    display: flex;
}


section#preSkillsInfo
{
    display: flex;
}
#preSkills #subjectsPre{
    list-style: none;
padding-left: 10px;
}
#preSkills #progressBarPre{
    list-style: none;
}


 #preSkills {
 height:260px;
  width: 300px;
     background-color:yellow;
    /* display: flex;*/
     list-style: none; 
}

#row-education #education
{
    background-color: lightgray;
}
  
#education #title-education
{
    display: flex;

}
#education h1 
{
  margin-top: 0px;
    padding-top: 10px;
    padding-left: 20px;
}
#education #subjects {
    list-style: none; 
width: 80%;
}

#education #detailes {
    list-style: none; 
}
#row-hobbies {
    background-color: white;
 display: flex;
}
section#language{
    display: flex;
}
ul#progressBarLan{
   list-style: none;
 
}

section#hobbies
{
      justify-content: space-between;
}
#subjectsHobies{
   list-style: none; 
    display: flex; 
 justify-content: space-between;
}

#subjects  li
{
    padding-bottom: 15px;
padding-bottom: 35px;
}
#subjectsHobies li {
    padding-right: 90px;
}

#subjectsHobies li i {
    padding-left: 10px;
}


#language-title
{
   padding-left: 10px; 
}
#language #subjectsLan
{
   list-style: none;
    padding-left: 10px;
  
}
section#squereLanguage
{
    background-color: gainsboro;
    width: 265px;
}